.form_div {
    ion-label {
        font-size: 12px;
        color: #fff;
    }
    ion-input {
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-bottom: 15px;
        --padding-start: 8px;
        color: var(--text-color) !important;
    }
}

.validation-errors {
    color: red;
    font-size: 13px;
    font-weight: 800;
    padding-bottom: 3px;
}