<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>New</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="customerForm" class="form_div">
        <ion-label>First Name</ion-label>
        <ion-input type="text" formControlName="first_name" [(ngModel)]="customer.first_name" placeholder="Fist Name"></ion-input>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.first_name">
                <div class="error-msg" *ngIf="customerForm.get('first_name').hasError(validation.type) && customerForm.get('first_name').touched">
                    <span class="error">{{ validation.message }}</span>
                </div>
            </ng-container>
        </div>

        <ion-label>Last Name</ion-label>
        <ion-input type="text" formControlName="last_name" [(ngModel)]="customer.last_name" placeholder="Last Name"></ion-input>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.last_name">
                <div class="error-msg" *ngIf="customerForm.get('last_name').hasError(validation.type) && customerForm.get('last_name').touched">
                    <span class="error">{{ validation.message }}</span>
                </div>
            </ng-container>
        </div>


        <ion-label>Mobile</ion-label>
        <ion-input type="tel" formControlName="mobile" maxlength="10" [(ngModel)]="customer.mobile" placeholder="Mobile"></ion-input>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.mobile">
                <div class="error-msg" *ngIf="customerForm.get('mobile').hasError(validation.type) && customerForm.get('mobile').touched">
                    <span class="error">{{ validation.message }}</span>
                </div>
            </ng-container>
        </div>
        <ion-button expand="block" color="dark" (click)="save()">Save</ion-button>
    </form>

</ion-content>