<ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <img src="assets/img/logo.png" />
        <h2>Welcome to Centbee Dev Hiring Tests</h2>
    </ion-slide>
    <ion-slide>
        <img src="assets/img/logo.png" />
        <h2>Please create repositories in Bitbucket.com.
        </h2>
    </ion-slide>
    <ion-slide>
        <img src="assets/img/logo.png" />
        <h2>You can create a free account.
        </h2>
    </ion-slide>
</ion-slides>