ion-slides {
    height: 97%;
}

ion-slide {
    padding: 160px 20px 160px 20px;
    display: block;
    img {
        width: 100px;
        border-radius: 10px;
    }
    h2 {
        font-size: 17px;
        font-weight: bold;
    }
}