<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Customers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item lines="full" *ngFor="let customer of customers">
            <ion-avatar>
                <img src={{customer.avatar}}>
            </ion-avatar>
            <ion-label>
                <h3>{{customer.first_name}} {{customer.last_name}}</h3>
                <p>{{customer.mobile}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>