<ion-header>
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <app-slides></app-slides>
</ion-content>